<section id="registration_page">
  <h1 class="text-center display-4 text-white text-uppercase mt-4 mb-4">Angular Workshop</h1>
  <div id="registration_form">
    <h2 class="text-center mb-2 text-primary h4">Registration</h2>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="tel" class="form-control" placeholder="Mobile" required>
      </div>
      <div class="form-group" required>
        <select class="form-control">
          <option disabled>Work Status</option>
          <option>Employee</option>
          <option>Student</option>
          <option>Others</option>
        </select>
      </div>
      <div class="form-group" required>
        <select class="form-control">
          <option disabled>Technologies Intrested</option>
          <option>Frontend Developer</option>
          <option>Backend Developer</option>
        </select>
      </div>
      <div class="form-group text-center mt-4">
        <button type="submit" class="btn btn-primary btn-md text-uppercase">Submit</button>
      </div>
    </form>
  </div>
</section>
