<section id="create_password_page">
    <h1 class="text-center display-4 text-white text-uppercase mt-4">Angular Workshop</h1>
    <div id="create_password">
      <h4 class="text-center">Hi <span class="">{{username}}</span></h4>
      <h5 class="text-center mb-4 mt-4">Thank you</h5>
      <h5 class="text-center mb-4 mt-4 text-success">Your Successfully Registerd into Angular Workshop</h5>
      <p class="text-center mt-4">
        <a href="#" class="btn btn-primary btn_custom">Create Password</a>
      </p>
    </div>
  </section>

