.navbar-global {
  background-color: indigo;
}

/* .navbar {
  z-index: 99;
} */

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user>li>a {
  color: #ea6954;
}

.dash_title {
  margin-left: 200px;
  font-weight: bold;
  font-size: 20px;
}

.navbar-primary {
  background-color: #041c5a;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  border-top: solid 1px #666;
  color: #f84970;
  font-size: 20px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0;
}

.brand {
  padding: 8px 0;
  background-color: #03174a;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
  background-color: #222;
  color: white;
}

.btn-expand-collapse:active {
  background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  /* margin-top: 67px; */
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom: solid 1px #444;
  color: #EEE;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar-primary-menu li a:hover {
  background-color: #EEE;
  text-decoration: none;
  color: #161c33;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  /* margin-top: 60px; */
  margin-left: 200px;
  /* padding: 20px; */
}

.collapsed+.main-content {
  margin-left: 60px;
}

.logout_icon {
  font-size: 2rem;
}

.logout_icon:hover,
.logout_icon:focus {
  color: #F44336;
}

.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information>tbody>tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
  border-top: 0;
}

.table-user-information>tbody>tr>td {
  border-top: 0;
}

.toppad {
  margin-top: 20px;
}
