<div class="container">
    <div class="panel panel-info">
      <div class="panel-body">
        <div>
          <h3 class="panel-title">Profile Photo</h3>
          <img alt="User Pic" src="../../../assets/user_profile.png" width="150" class="img-fluid">
        </div>
        <div class="col-sm-10 col-md-8">
          <table class="table table-user-information table-borderless">
            <tbody>
              <tr>
                <td>Name:</td>
                <td>{{fullname()}}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>
                  <a href="mailto:{{user.email}}">{{user.email}}</a>
                </td>
              </tr>
              <tr>
                <td>College</td>
                <td>{{user.college}}</td>
              </tr>
              <tr>
                <td>City</td>
                <td>{{user.city}}</td>
              </tr>
              <tr>
                <td>Working Status</td>
                <td>{{user.status}}</td>
              </tr>
              <tr>
                <td>Technologies</td>
                <td>
                  {{user.technologie}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a routerLink="/edit-user-profile" class="btn btn-primary">Edit</a>
    </div>
  </div>